<!DOCTYPE html>
<html lang="en">
<head>
    <script type="module" async="async" src="../presenter/requests.js"></script>
    <script type="module" async="async" src="../presenter/index.js"></script>
    <script async="async" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, we are lirning MVP - Model-view-presenter</title>
</head>
<body>

    <textarea id="newMessage" cols="30" rows="10"></textarea>
    <button onclick="addMessage()">Add message</button>
    <div id="list"></div>
</body>
</html>